In [8]:
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bsdegrees = [1,1,0,0,1]
msdegrees = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]
Degrees = zip(names,grades,bsdegrees,msdegrees,phddegrees)
columns = ['Names','Grades','BS','MS','PhD']
df = pd.DataFrame(data = Degrees, columns=columns)
df

     Names  Grades  BS  MS  PhD
0      Bob      76   1   2    0
1  Jessica      95   1   1    1
2     Mary      77   0   0    0
3     John      78   0   0    0
4      Mel      99   1   0    0

In [13]:
import pandas as pd
Location = (r"C:\Users\a1227\Downloads/Flag_Reference.xls")
df = pd.read_excel(Location)

In [15]:
df.head()

   ID                                        DESCRIPTION
0   3  Data not enumerated, tabulated, or otherwise a...
1   4  Figure withheld to avoid disclosure pertaining...
2   5  Figure not applicable because column heading a...
3   6  Figure does not meet publication standards for...
4   7  Entry would amount to less than half the unit ...

In [16]:
df.columns = ['Key','Content']
df.head()

   Key                                            Content
0    3  Data not enumerated, tabulated, or otherwise a...
1    4  Figure withheld to avoid disclosure pertaining...
2    5  Figure not applicable because column heading a...
3    6  Figure does not meet publication standards for...
4    7  Entry would amount to less than half the unit ...